
:root {
    --container-color: #19589D;
    --page-color: #0D192B;
    --h1-color: #ffffff;
    --paragraph-color: #ffffff;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background: var(--page-color);
}

.container {
    background: var(--container-color);
}

.card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-1 h1 {
    color: var(--h1-color);
}

.card-1 p {
    color: var(--paragraph-color);
    font-size: 18px;
}

.card-1 img {
    border-radius: 4% 4% 4% 4%;
    padding: 0.5rem;
    margin-bottom: 0.25rem;
}

.card-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-3 img {
    width: 10%;
}